# Internal tools
pbr
click

# Image processing
simpleitk
numpy<2.0
opencv-python<4.12
matplotlib

# Statistics
scipy>=1.7,<1.13

# Machine learning
batchgenerators

# Documentation
Sphinx

# Testings
nose
flake8